In [40]:
import matplotlib.pyplot as plt
import pandas as pd
import math

In [41]:
def load_dataset (file):
    dataset = pd.read_excel(file)
    return dataset

path = "Exo1.xlsx"
dataset = load_dataset(path)

In [42]:
def visualize_data (dataset) :
    print(dataset.head())
    print ("Nombre de lignes du dataset :", dataset.shape[0])
    print("Nombre de colonnes du dataset : ", dataset.shape[1])
    print("Noms des colonnes : ", dataset.columns.tolist())

visualize_data(dataset)

   petal length  petal width  sepal length  sepal width        Class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
Nombre de lignes du dataset : 150
Nombre de colonnes du dataset :  5
Noms des colonnes :  ['petal length', 'petal width', 'sepal length', 'sepal width', 'Class']

In [43]:
dataset["petal width"][1]

3.0

In [44]:
def discretisation_methode2 (dataset, attribut) :
    N = dataset.shape[0]
    K = round(1 + (10/3)* math.log(N,10))
    print(K)
    largeur = (dataset[attribut].max()-dataset[attribut].min())/K
    
    class_intervals = [dataset[attribut].min() + largeur * i for i in range (K) ]
    class_intervals.append(dataset[attribut].max())
    print(class_intervals)
    
    dataset_copy = dataset.copy()
    for j in range(N) :
        for i in range (K) :
            if (class_intervals[i] <= dataset[attribut][j]) and (dataset[attribut][j] <= class_intervals[i+1]) :
                dataset_copy[attribut][j] = (class_intervals[i+1] + class_intervals[i])/2
    return dataset_copy

In [ ]:
dataset_copy = discretisation_methode2(dataset, "petal width")
dataset_copy["petal width"].values

In [46]:
def normalize_min_max(dataset, attribut, new_min=0, new_max=1):

    min_old = dataset[attribut].min()
    max_old = dataset[attribut].max()

    dataset_normalized = dataset.copy()
    dataset_normalized[f'{attribut}_normalized'] = (dataset[attribut] - min_old) / (max_old - min_old) * (new_max - new_min) + new_min

    return dataset_normalized

In [47]:
normalized_dataset = normalize_min_max(dataset, "petal length")
normalized_dataset

,petal length,petal width,sepal length,sepal width,Class,petal length_normalized
0,5.1,3.5,1.4,0.2,Iris-setosa,0.222222
1,4.9,3.0,1.4,0.2,Iris-setosa,0.166667
2,4.7,3.2,1.3,0.2,Iris-setosa,0.111111
3,4.6,3.1,1.5,0.2,Iris-setosa,0.083333
4,5.0,3.6,1.4,0.2,Iris-setosa,0.194444
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica,0.666667
146,6.3,2.5,5.0,1.9,Iris-virginica,0.555556
147,6.5,3.0,5.2,2.0,Iris-virginica,0.611111
148,6.2,3.4,5.4,2.3,Iris-virginica,0.527778
149,5.9,3.0,5.1,1.8,Iris-virginica,0.444444

In [48]:
def normalize_z_score(dataset, attribut):
    mean_old = dataset[attribut].mean()
    std_old = dataset[attribut].std()
    
    dataset_normalized = dataset.copy()
    dataset_normalized[f'{attribut}_z_score'] = (dataset[attribut] - mean_old) / std_old

    return dataset_normalized

In [49]:
normalized_dataset = normalize_z_score(dataset, "petal length")
normalized_dataset

,petal length,petal width,sepal length,sepal width,Class,petal length_z_score
0,5.1,3.5,1.4,0.2,Iris-setosa,-0.897674
1,4.9,3.0,1.4,0.2,Iris-setosa,-1.139200
2,4.7,3.2,1.3,0.2,Iris-setosa,-1.380727
3,4.6,3.1,1.5,0.2,Iris-setosa,-1.501490
4,5.0,3.6,1.4,0.2,Iris-setosa,-1.018437
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica,1.034539
146,6.3,2.5,5.0,1.9,Iris-virginica,0.551486
147,6.5,3.0,5.2,2.0,Iris-virginica,0.793012
148,6.2,3.4,5.4,2.3,Iris-virginica,0.430722
149,5.9,3.0,5.1,1.8,Iris-virginica,0.068433

In [50]:
def calculate_mean(data):
    return sum(data) / len(data)

def calculate_std(data, mean):
    n = len(data)
    squared_deviations = [(x - mean) ** 2 for x in data]
    variance = sum(squared_deviations) / n
    std_deviation = variance ** 0.5
    return std_deviation

def normalize_z_score2(dataset, attribut):
    
    mean_old = calculate_mean(dataset[attribut])
    std_old = calculate_std(dataset[attribut], mean_old)
    
    dataset_normalized = dataset.copy()
    dataset_normalized[f'{attribut}_z_score'] = (dataset[attribut] - mean_old) / std_old

    return dataset_normalized

In [51]:
normalized_dataset = normalize_z_score2(dataset, "petal length")
normalized_dataset

,petal length,petal width,sepal length,sepal width,Class,petal length_z_score
0,5.1,3.5,1.4,0.2,Iris-setosa,-0.900681
1,4.9,3.0,1.4,0.2,Iris-setosa,-1.143017
2,4.7,3.2,1.3,0.2,Iris-setosa,-1.385353
3,4.6,3.1,1.5,0.2,Iris-setosa,-1.506521
4,5.0,3.6,1.4,0.2,Iris-setosa,-1.021849
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica,1.038005
146,6.3,2.5,5.0,1.9,Iris-virginica,0.553333
147,6.5,3.0,5.2,2.0,Iris-virginica,0.795669
148,6.2,3.4,5.4,2.3,Iris-virginica,0.432165
149,5.9,3.0,5.1,1.8,Iris-virginica,0.068662